.container {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 400px;
}

.item  {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}